<p><%= link_to 'Voltar', root_path %></p>

<%= render partial: "shared/card_list" , locals: { itens: @personal_infos } %>
<%= render partial: "shared/card_list" , locals: { itens: @academics } %>
<%= render partial: "shared/card_list" , locals: { itens: @courses } %>
